body {	
    padding-top: 60px;
    padding-bottom: 40px;
    background-image: url("img/background.png");
    background-size:cover;
}

div.roulette {
}

div.roulette_container {
    width:830px;
    height:630px;
    margin:auto;
}

.btn_container {
    margin:20px;
    text-align:center;
}
.btn_container .start {
    margin-right:20px;
}
